.user-info-box {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;

  .user-info-title {
    font-size: 1.2rem;
    font-weight: 500;
    color: #333;
    margin-top: 2rem;
  }
  
  .user-info-text {
    font-size: 1.2rem;
    font-weight: 500;
    color: #333;
    margin-top: .1rem;
  }

  .user-info-tips-view {
    margin-top: .6rem;
    padding: 0 2rem;
  }

  .user-info-tips-text {
    font-size: .8rem;
    color: #777;
    margin-top: .2rem;
  }

  .user-info-msg-btn {
    margin-top: 1rem;
  }
}
