.page-home {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  .at-tab-pan {
    width: 100%;
    height: 100%;
  }
  .img-modal {
    width: 15rem;
    height: 4.4rem;
  }
  .modal-header {
    color: '#999',
  }
  .modal-context {
    margin-bottom: .5rem;
  }
}